.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

.listItem {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(29, 153, 236);
  border-radius: 2px;
  cursor: pointer;
}

.listItem:hover {
  background-color: rgb(211, 211, 211);
}
