.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

.page {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  color: rgb(0, 0, 0);
}

.page:hover {
  border: 1px solid rgb(29, 153, 236);
  border-radius: 5px;
}

.currentPage {
  border: 1px solid rgb(29, 153, 236);
  border-radius: 5px;
  color: rgb(29, 153, 236);
}

.ellipsis {
  color: rgb(0, 0, 0);
}
